{% extends "home.html" %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgb(72,97,238) 0%, rgb(197,105,124) 100%);">
                        <div class="card-body text-white">
                            <h2>{{ post.title }}</h2>
                            <p>Автор поста: <b>{{ post.author }}</b></p>
                            <p>{{ post.body }}</p>
                            {#                                <img src="https://palchevsky.ru/images/blogpost.png" alt="Нейросетевая система Паводок" width="100%" height="100%">#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
